@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(./images/2.jpg);
  font-family: "Dovemayo_gothic";
}
.header {
  width: 100%;
  min-width: 1500px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}
.header .center h1 {
  font-size: 2.8rem;
  text-align: center;
  /*background-color: rgba(251, 249, 246, 1);*/
  background-color: #fbf9f6;
  padding: 20px;
  border-bottom: 6px double #182747;
}
.right {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: space-evenly;
}
.container {
  width: 100%;
}
.gridBox {
  border: 2px solid #182747;
  width: 1500px;
  height: 800px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 400px);
  background-color: #fbf9f6;
}
.memo {
  border: 2px solid #182747;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#input1 input,
#input2 input,
#input3 input,
#input4 input,
#input5 input,
#input6 input,
#input7 input {
  width: 360px;
}

/* todo list 스크롤 */
.memo ul {
  display: block;
  overflow-y: auto;
  -ms-overflow-style: none;
  height: 300px;
  margin: 0;
}
/*  todo list 스크롤 숨기기 */
.memo ul::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #2f3542;
}
::-webkit-scrollbar-track {
  background-color: transparent;
} */

input,
button {
  font-size: 20px;
}
.memo h2 {
  text-align: center;
  color: #182747;
  margin: 0;
  padding: 12px;
  border-bottom: 2px solid #182747;
}
.memo ul li {
  font-size: 25px;
}

#first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.left,
.right {
  background-color: #fbf9f6;
  margin: 20px 50px;
}
.left h1 {
  font-size: 70px;
  text-align: center;
  line-height: 50px;
}
.hidden {
  display: none;
}

#btnBack {
  margin-top: 10px;
  width: 100%;
  border: none;
  height: 50px;
}
#btnBack:hover {
  background-color: #ccc;
}
